<div class="item">
    <div>Category</div>
    <div>
        <select name="category_id">
            {%for category in categories%}
            <option value="{{category.id}}" {%if product.category_id == category.id%}selected{%endif%}>
                {{category.name}}
            </option>
            {%endfor%}
        </select>
    </div>
</div>

<div class="item">
    <div>Name</div>
    <div>
        <input 
            type="text"
            name="name"
            value="{{product.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Description</div>
    <div>
        <textarea name="description">{{product.description}}</textarea>
    </div>
</div>

<div class="item">
    <div>Picture</div>
    <div>
        <div id="photos-upload">
               <input
                id="photos-input"
                type="file" 
                name="photos" 
                multiple
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
            >
            <p>Selecione até 6 fotos</p>
        </div>
        <div id="photos-preview">

        </div>
    </div>
</div>

<div class="item">
    <div>Price</div>
    <div>
        <input 
            type="text"
            name="price"
            placeholder="R$ "
            value="{{product.price}}"
            onkeydown="Mask.apply(this, 'formatBRL')"
        >
    </div>
    {%if product.old_price %}
        <input type="hidden" name="old_price" value="{{product.old_price}}">
    {%endif%}
</div>

<div class="item">
    <div>Quantity</div>
    <div>
        <input 
            type="number"
            name="quantity"
            value="{{product.quantity}}"
        >
    </div>
</div>

{%if (product.status == '1') or (product.status == 0)%}
<div class="item">
    <div>Avaible</div>
    <div>
        <span>
            <input
                type="radio"
                name="status"
                value="1"
                {% if product.status == '1' %}
                    checked
                {% endif %}
            > Yes
        </span>
        <span>
            <input
                type="radio"
                name="status"
                value="0"
                {% if product.status == '0' %}
                    checked
                {% endif %}
            > No
        </span>
    </div>
</div>
{%endif%}