<div class="item">
    <div>
        Avatar Url
    </div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://example.com"
            value="{{ teacher.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>
        Name
    </div>
    <div>
        <input
            type="text"
            name="name"
            placeholder="Ex: Robert Smith"
            value="{{ teacher.name }}">
    </div>
</div>

<div class="item">
    <div>
        Email
    </div>
    <div>
        <input type="email" name="email" value="{{ teacher.email }}">
    </div>
</div>

<div class="item">
    <div>Date of born</div>
    <div>
        <input type="date" name="birth" value="{{ teacher.birth }}">
    </div>
</div>

<div class="item">
    <div>
        Sex
    </div>
    <div>
        <span>
            <input
                type="radio"
                name="gender"
                value="M"
                {% if teacher.gender  == 'M' %}
                checked="checked"
                {% endif %}>Male
        </span>

        <span>
            <input
                type="radio"
                name="gender"
                value={% if teacher.gender %}
                =="F"
                checked="checked"
                {% endif %}>Female
        </span>

    </div>
</div>

<div class="item">
    <div>
        Blood Type</div>
    <div>
        <select name="blood">
            <option value="A1">
                A+</option>
            {% if student.blood == "A+"%}selected{% endif %}
            <option value="A0">
                A</option>
            {% if student.blood == "B-"%}selected{% endif %}
            <option value="B0">
                B+</option>
            {% if student.blood == "B+"%}selected{% endif %}
            <option value="B+">
                B-</option>
            {% if student.blood == "AB"%}selected{% endif %}
            <option value="AB">
                AB+</option>
            {% if student.blood == "A-"%}selected{% endif %}
            <option value="AB0">
                AB-</option>
            {% if student.blood == "O+"%}selected{% endif %}
            <option value="O+">
                O+</option>
            {% if student.blood == "O-"%}selected{% endif %}
            <option value="O0">
                O</option>
        </select>
    </div>
</div>

<div class="item">
    <div>
        Weight
    </div>
    <div>
        <input type="number" name="weight" value="{{ student.weight }}">
    </div>
</div>

<div class="item">
    <div>
        Height
    </div>
    <div>
        <input type="number" name="height" value="{{ student.height }}">
    </div>
</div>

<div class="item">
    <div>Teacher</div>
    <div>
        <select name="teacher">
            {%for teacher in teacherOptions%}
                <option
                    value="{{teacher.id}}"
                    {%if student.teacher_id == teacher.id%}
                    selected="selected"
                    {%endif%}>
                    {{teacher.name}}
                </option>
                {%endfor%}
            </select>
        </div>
    </div>

    <button type="submit">Save</button>