{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">

	<div class="header">
		<a class="button" href="/students/create">New</a>
		<form action="/students" method="GET">
			<input
			type="text" 
			name="filter"
			placeholder="Filter name, education"
			value={{filter}}
			>
					<button type="submit">Filter</button>
		</form>
	</div>
			
	<table width="100%">
		<thead>
			<tr>
				<th>Student</th>
				<th>email</th>
				<th>Weight</th>
				<th>Height</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>
					<span style="background-image: url({{student.avatar_url}})"></span>
					{{student.name}}
				</td>
				<td>{{student.email}}</td>
				<td>{{student.weight}}</td>
				<td>{{student.height}}</td>
				<td><a href="/students/{{student.id}}">View</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="pagination"
		data-page={{pagination.page}}
		data-total={{pagination.total}}
		data-filter={{filter}}
	></div>

</div>

{% endblock content %}
