{% extends "layout.njk" %}

{% block content %}
<link rel="stylesheet" href="/styles.css" />

<div class="card">
	<section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center /cover">
	</section>

	<section class="details">

		<form method="POST" action='/teachers?_method=PUT'>

			<h3>Edit teacher</h3>

			{% include 'teachers/fields.njk' %}

			<input type="hidden" name="id" value={{teacher.id}}>
		</form>

		<form id="form-delete" action="/teachers?_method=DELETE" method="post">
			<input type="hidden" name="id" value="{{ teacher.id}}">
			<button type="submit">Delete</button>
		</form>

		<script>
			const formDelete = document.querySelector("#form-delete")
			formDelete.addEventListener("submit", function (event) {
				const confirmation = confirm("Confirm Delete?")
				if (!confirmation) {
					event.preventDefault()

				}
			})
		</script>

	</section>
</div>

{% endblock content %}