<div class="item">
    <div>
        Avatar Url
    </div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://example.com" value="{{ teacher.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>
        Name
    </div>
    <div>
        <input type="text" name="name" placeholder="Ex: Robert Smith" value="{{ teacher.name }}">
    </div>
</div>

<div class="item">
    <div>
        Date of born</div>
    <div>
        <input type="date" name="birth" value="{{ teacher.birth }}">
    </div>
</div>

<div class="item">
    <div>
        Sex
    </div>
    <div>
        <span>
            <input type="radio" name="gender" value="M" {% if teacher.gender == 'M' %} checked="checked"
                {% endif %}>Male
        </span>

        <span>
            <input type="radio" name="gender" value={% if teacher.gender %}=="F" checked="checked" {% endif %}>Female
        </span>

    </div>
</div>

<div class="item">
    <div>
        Education
    </div>
    <input type="text" name="services" placeholder="Ex: Mathematic " value="{{ teacher.services }}">
</div>

<button type="submit">Save</button>