{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">

    <div class="header">
        <a class="button" href="/teachers/create">New</a>
        <form action="/teachers" method="GET">
            <input type="text" name="filter" placeholder="Filter name, education" value={{filter}}> <button
                type="submit">Filter</button>
        </form>
    </div>
    <table width="100%">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Education</th>
                <th>Students</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers%}
            <tr>
                <td>
                    <span style="background-image: url({{teacher.avatar_url}})"></span>
                    {{teacher.name}}</td>
                <td>{{teacher.services}}</td>
                <td>{{teacher.total_students}}</td>
                <td>
                    <a href="/teachers/{{teacher.id}}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

</div>



{% endblock content %}
