<html lang="pt-BR">
<title>Launch Store | Compra e Venda</title>

<head>
  {% include "parts/styles.njk" %}
</head>
<body>
  {% include "parts/messages.njk" %}

  {% include "parts/header.njk"%}

  {% block content %}{% endblock %}

  {% include "parts/footer.njk" %}


<script src="/scripts.js"></script>

</body>

</html>